body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
  
canvas {
    border: 1px solid #ccc;
}



@media (min-width: 360px) and (min-height: 640px) and (max-width: 720px) and (max-height: 1280px) {

}
  